<%- include("../partials/header") %>
<link rel="stylesheet" href="/css/style.css">
<h2>Add New Room</h2>

<form action="/rooms" method="POST">
  <label>Name: <input type="text" name="name" required></label><br>
  <label>Capacity: <input type="number" name="capacity" required min="1"></label><br>
  <label>Isolation Room: <input type="checkbox" name="isIsolation"></label><br>
  <button type="submit">Create Room</button>
</form>

<a href="/rooms" class="btn-back">Back to Rooms List</a>

<%- include("../partials/footer") %>