<%- include("../partials/header") %>

<h1>403 Forbidden</h1>
<p>Sorry, you do not have permission to access this page.</p>
<a href="/homepage">Go back to homepage</a>

<%- include("../partials/footer") %>