<%- include("../partials/header") %>

<h1>404 - Page Not Found</h1>
<p>The page <%= url %> does not exist.</p>
<a href="/homepage">Go back to homepage</a>
<a href="/login">Login</a>

<%- include("../partials/footer") %>
