<%- include("../partials/header") %>

<h1>500 Internal Server Error</h1>
<p>Oops! Something went wrong on our end.</p>
<a href="/homepage">Go back to homepage</a>
<a href="/login">Login</a>

<%- include("../partials/footer") %>